{
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": false,
  "plugins": ["./node_modules/svelte"],
  "svelteStrictMode": true,
  "svelteSortOrder": "options-scripts-styles-markup",
  "useTabs_": true,
  "printWidth_": 100
}
