---
layout: page
title: Portfolio
permalink: /portfolio/
---
<div></div><!-- hack to clear stuff properly -->

{% for p in site.data.portfolio %}
  <a href="{% include media_path file=p.media %}" class="portfolio_item clearfix"><!--Link to play video-->
    <img class="portfolio_image" src="{% include portfolio_path file=p.image %}"> 
    <div class="meta_wrapper"><div class="meta">
      <h3>{{ p.title }}</h3>
      <div class="stats">
        {% for stat in p.stats %}
          <div>{{ stat[1] }}</div>
        {% endfor %}
      </div><!--stats-->
    </div><!--meta--></div>
  </a><!--portfolio item-->
{% endfor %}
