---
layout: page
title: Resum&eacute;
permalink: /resume/
---

<div class="resume">
  {% for creditsGroup in site.data.resume.credits %}
    <div class="section section-{{ creditsGroup.grouping | slugify }}">
      <h3 class="section-heading">{{ creditsGroup.grouping }}</h3>
      {% for production in creditsGroup.productions %}<!-- collapsing whitespace
        --><div class="row">
     
          <span class="cell cell-1">{{ production.year }}</span>
          <span class="cell cell-2">{{ production.title }}</span>
          <span class="cell cell-3">({{ production.company }})</span>
          <span class="cell cell-4">{{ production.position }}</span>
          {% if production.extra %}
            <span class="cell cell-5">{{ production.extra }}</span>
          {% else %}
            <span class="cell cell-5 empty"></span>
          {% endif %}
          <div class="anchor"></div>
        </div><!-- collapsing whitespace
      -->{% endfor %}
    </div>
    <div class="anchor"></div><!-- end section -->
  {% endfor %}
  <div class="anchor"></div><!-- pre-end of resume -->
</div><!-- end of resume -->
