<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">Tom Ossowski</a>

  <nav class="site-nav">
    <input type="checkbox" id="menu" style="display:none">
    <label for="menu">Navigation</label>
      <!-- <ul>
        {% for page in site.pages %}
          {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
       </ul> -->
       <ul>
         <li><a class="page-link" href="{{ '/biography' | prepend: site.baseurl }}">Biography</a></li>
         <li><a class="page-link" href="{{ '/portfolio' | prepend: site.baseurl }}">Portfolio</a></li>
         <li><a class="page-link" href="{{ '/references' | prepend: site.baseurl }}">References</a></li>
         <li><a class="page-link" href="{{ '/resume' | prepend: site.baseurl }}">Resum&eacute;</a></li>
       </ul>
  </nav>

</header>
