// Header
header.site-header
  a
    text-decoration: none
  
  .site-title
    color: #444
    text-align: center
    padding: auto
    margin: 1em auto 0.5em
    font-size: 2.6em
    font-weight: bold
    line-height: 1em
    font-family: "azo-sans-uber", "Helvetica Black", Helvetica, sans-serif
    
    +breakpoint(mama-bear)
      font-size: 4em
      margin-top: 0.7em
    
    +breakpoint(papa-bear)
      font-size: 5em
      margin-top: 0.5em
    
  
