// Header
header.site-header
  a
    text-decoration: none
  
  .site-title
    display: block
    color: #444
    text-align: center
    padding: auto
    margin: 0.5em auto
    font-size: 2.6em
    font-weight: bold
    line-height: 1em
    font-family: "azo-sans-uber", "Helvetica Black", Helvetica, sans-serif
    
    +breakpoint($medium)
      font-size: 4em
    
    +breakpoint($large)
      font-size: 5em
    
.js .site-nav ul
  display: none
