html
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

body
  padding: 0 6px
  max-width: 650px
  margin: auto

  +breakpoint($large)
    max-width: 900px
    font-size: 1.2em

// Header
header.site-header
  a
    text-decoration: none
  
  .site-title
    display: block
    color: #444
    text-align: center
    padding: auto
    margin: 0.5em auto
    font-size: $base-font-size
    font-size: 2.6em
    font-weight: bold
    line-height: 1em
    font-family: "azo-sans-uber", "Helvetica Black", Helvetica, sans-serif
    
    +breakpoint($medium)
      font-size: 4em
    
    +breakpoint($large)
      font-size: 5em
    
// Main Nav

.js .site-nav ul
  display: none
  +breakpoint($medium)
    display: block

.site-nav
  font-size: $base-font-size
  text-align: center
  margin-bottom: $spacing-unit
  
  ul
    +container()
    padding: 0
    margin: 0
    list-style: none

  label, li
    font-size: 1.3em
    margin-bottom: gutter()
    display: block

  label, li a
    display: block
    padding: 8px
    background-color: $trans-grey
    +border-radius($border-radius)

    &, &:link, &:hover, &:visited
      color: $text-color


    &:hover
      background-color: darken($trans-grey, 20)

  +breakpoint($medium)
    label
      display: none
    li
      +span(2)
    li:nth-of-type(2n)
      +span(2 at 3)

  +breakpoint($large)
    li
      display: inline !important
      float: none !important
      margin: auto !important

      a
        width: 10em !important
        display: inline-block !important

// Praise Box
.praise
  background-color: $trans-grey
  +border-radius($border-radius)
  padding: 1em
  margin-bottom: $spacing-unit

  blockquote
    font-size: 1.2em
    +pad(1em)
    position: relative

    =quote_marks
      position: absolute
      display: block
      font-size: 3em
      line-height: 0
      color: lighten($text-color, 30)

    &:before
      +quote_marks
      content: "\201c"
      top: 0.4em
      left: -0.25ex
    
    &:after
      +quote_marks
      content: "\201d"
      bottom: -0.1em
      right: -0.25ex

  .attribution
    text-align: right

// Articles

article
  margin: $spacing-unit auto

  & > h2
    text-align: center

.post-link
  text-decoration: none
  color: $text-color

  &.outgoing
    text-decoration: underline


// Footer

.site-footer
  background-color: darken($trans-grey, 0)
  margin-top: $spacing-unit *2
  margin-bottom: 0
  padding: $spacing-unit 0

  +fw-bars