/*--------------------------------------------------------------------
    Resume
--------------------------------------------------------------------*/
div.resume{
  font-size: 0.85em;
  div.section{
    clear:both;
    margin: 4em auto;

    .section-heading{
      font-size:2em;
      font-family:Georgia, "Times New Roman", Times, serif;
      border-bottom:1px dotted #999;
      display:block;
      line-height: normal;
    }
    div.row{
      clear:both;
      width:100%;
      margin:2em auto;
      
      @include breakpoint($medium){
        width:48%;
        clear: none;
        
        &:nth-child(even){
          float:left;
          clear: both;
        }
        &:nth-child(odd){
          float:right;
        }
        
        .anchor{
          clear:none;
        }
      }
      @include breakpoint($large){
        clear: both;
        width: 100%;
        margin: 0 auto 8px;
        
        &:nth-child(even), &:nth-child(odd){
          float: none;        
        }
        
        .anchor{
          clear:both;
        }
      }
    
      .cell-1{
        margin-right:8px;
        width:3em;
        display: inline;
      }
      .cell-2{
        margin-right:0.7em;
        display: inline;
      }
      .cell-3{
        display: block;
        margin-right:0;
        font-style:italic;
        color:#555;
        padding-left: 2em;
        
        @include breakpoint($large){
          display: inline;
          padding-left:0;
        }
      }
      .cell-4{
        margin:0px;
        padding-left: 2em;
        
        @include breakpoint($large){
          float:right;
          margin:0;
        }
      }
      .cell-5{
        display: block;
        padding-left: 2em;
        color:#555;
        
        @include breakpoint($large){
          float:left;
          clear:both;
          text-indent:5em;
          width:100%;
          display: inline;
          padding: 0;
        }
      }
      .cell.empty{
        display:none;
      }
    }
  }
}