/*--------------------------------------------------------------------
    Portfolio
--------------------------------------------------------------------*/
.portfolio_item, .portfolio_item * {
  //@include box-sizing;
  font-size: $base-font-size;
}

.portfolio_item{
  @include trans-grey;
  margin:12px auto;
  @include border-radius(7px);
  position: relative;
  height: 200px;
  text-decoration:none;
  color:inherit;
  display: block;
  width: 100%;
  overflow: hidden;
  
  &:hover{
    @include trans-color;
  }
  @include breakpoint($large){
    width:49.5%;
    
    //These seem backwards, but the title of the page is the first child of the parent element. It is not styled by these selectors, but it does count in the numbering.
    &:nth-child(odd){
      float:right;
    }
    &:nth-child(even){
      float:left;
      clear:both;
    }
  }
  .meta_wrapper{
    display:block;
    width:100%;
    height:100%;

    @include breakpoint($medium){
      display: table;
      height:100%;
      width: 38%;
      margin-left:62%;
      padding-right:6px;
    }

    .meta{
      display:inherit;
      width: inherit;
      height: inherit;
      color: #fff;
      text-shadow: 0 0 1px black, 0 0 1px black;
      padding: 8px;
    
      @include breakpoint($medium){
        display: table-cell;
        vertical-align: middle;
        color: $main-text-color;
        text-shadow: none;
        padding:5px;
      }
      @include breakpoint($small){
      }
    }
  }
  
  %stats_h3{
    position: relative;
  }
  .stats{
    @extend %stats_h3;
    line-height: 1.2em;
    @include breakpoint($small){
      display: block;
      position: absolute;
      bottom: 5px;
      right: 5px;
      
    }

  }
  h3{
    @extend %stats_h3;
    margin-bottom:1em;
    font-size: 1.2em
  }
  .portfolio_image{
    position: absolute;
    width:100%;
    margin: 0;
    min-height: 100%; /* stretches image... but actually not too bad. */
    @include breakpoint($medium){
      width:60%;
    }
    @include breakpoint($large){
      //max-height: 300px;
      margin:0;
    }
  }
}
